/vendor/
composer.lock

.idea
*.iml

.nanbando
nanbando.json

.github/phar-private.pem
.github/pat.txt
nanbando.phar
nanbando.phar.pubkey
nanbando.phar.version
.travis/build-key.pem
.travis/secrets.tar

box.phar
manifest.json

.DS_Store
