{
  "algorithm": "OPENSSL",
  "compression": "GZ",
  "directories": [
    "src"
  ],
  "files": [
    "LICENSE",
    "README.md",
    "UPGRADE.md",
    "vendor/dflydev/embedded-composer/.root_package.json",
    "vendor/composer/ca-bundle/res/cacert.pem"
  ],
  "finder": [
    {
      "name": [
        "LICENSE*",
        "License*",
        "*.php",
        "*.xml",
        "*.xsd",
        "*.yaml",
        "*.yml",
        "*.json",
        "*.crt"
      ],
      "exclude": [
        "phpunit",
        "Tests",
        "tests"
      ],
      "in": ["bin", "src", "vendor"]
    }
  ],
  "git-version": "git_version",
  "intercept": true,
  "key": ".github/phar-private.pem",
  "main": "bin/nanbando-phar-stub",
  "output": "nanbando.phar",
  "exclude-composer-files": false
}
